<div class="rows">
  <div class="row">
      <% @projects.each do |project| %>
        <% if project.current_version_id != nil && Version.find_by_id(project.current_version_id).main_image_id != nil %>
        <div class="card card-inverse col-md-4 ">    
          <%= link_to (image_tag Image.find_by_id(Version.find_by_id(project.current_version_id).main_image_id).image_src.detail.url, class: "card-img"), project_path(project) %>
          <div class="card-img-overlay">
            <h4 class="card-title"><%= link_to project.title, project_path(project) %></h4>
            <p class="card-text"><small><%= project.user.username %></small></p>
          </div>
        </div>
        <% end %>
      <% end %>
  </div>
</div>