/*
 *= require font-awesome
 */
 @import "font-awesome";
 @import "bootstrap";

.version-main-image, .version-images {
  background-color: #141518;
  text-align: center;
}

.version-main-image {
  height: 400px;
  width: 400px;
  border: 6px solid #141518;
}

.version-images {
  height: 100px;
  width: 100px;
  border: 3px solid #141518;  
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.card {
  background-color: #141518;
  text-align: center;
  border: 6px solid #141518;
  border-radius: 0px;
  .card-img {
    border-radius: 0px;

  }
}

.card-img-overlay {
  background: -webkit-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3));
  width: 100%;
  text-align: left;
  height: 100%;
  width: 100%;
  .card-title {
    
    bottom: 0px;
  }
}

